#container {
    width: 960px;
    height: 960px;
    background-color: blue;
    display:flex;
    flex-wrap: wrap;

}

.square {
    width: 60px;
    height: 60px;
    background-color: white;
    border:1px solid black;
    box-sizing:border-box;
}